/* FONTS-START */

@font-face {
   font-family: myFirstFont;
   src: url(../../../fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
   font-family: mySecondFont;
   src: url(../../../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
   font-family: myThirdFont;
   src: url(../../../fonts/Montserrat/Montserrat-Italic.ttf);
}

@font-face {
   font-family: myFourthFont;
   src: url(../../../fonts/Poppins/Poppins-Regular.ttf);
}

/* FONTS-END */

/*--------------------------------------------------------------------*/

/* ANIMATIONS-START */
@keyframes blink {
   50% {
       color: rgb(0, 194, 0)
   }
}

@keyframes blink-facebook {
   50% {
       color: rgb(17, 0, 255);
   }
}

@keyframes blink-twitter {
   50% {
       color: rgb(0, 247, 255);
   }
}

@keyframes blink-instagram {
   50% {
       color: rgb(200, 14, 224);
   }
}

@keyframes blink-linked-in {
   50% {
       color: rgb(28, 20, 148);
   }
}

@keyframes blink-pinterest {
   50% {
       color: rgb(211, 101, 119)
   }
}

@keyframes blink-youtube {
   50% {
       color: rgb(255, 0, 0)
   }
}

@keyframes blink-google {
   50% {
       color: rgb(255, 123, 0)
   }
}

@keyframes blink-menu {
   50% {
       color: white;
   }
}

@keyframes text {

   from {
       left: 120px;
   }

   to {
       left: 0;
   }
}

@keyframes info {

   from {
       top: 100px;
   }

   to {
       top: 0;
   }
}

@keyframes animation-text-on-image1 {

   from {
       top: 500px;
   }

   to {
       top: 133px
   }
}

@keyframes animation-text-on-image2 {

   from {
       top: 500px;
   }

   to {
       top: 150px
   }
}

@keyframes glide1 {
   from {
       top: 100px;
       left: 0;
   }

   to {
       top: 140px;
       left: 0;
   }
}

@keyframes glide2 {
   from {
       top: 50px;
       right: 0;

   }

   to {
       top: 0;
       right: 0;
   }
}

@keyframes text-effect {
   10% {
       opacity: 0.5;
   }

   20% {
       opacity: 1;
   }

   80% {
       opacity: 1;
       top: 0;
   }

   90% {
       opacity: 0.5;
   }

   100% {
       opacity: 0;
       top: 100px;
   }
}

@keyframes border-animation {
   50% {
       border-color: rgb(9, 223, 9);
   }
}

/* ANIMATIONS-END */

/*----------------------------------------------------------------*/

#header .upper-side {
   background: #000000;
}

#header .upper-side .service {
   padding: 10px 0;
   color: white;
   font-size: 17px;
   animation: blink 0.4s infinite;
   cursor: pointer;
}


#header .upper-side .social-medias {
   display: flex;
   gap: 5%;
   justify-content: right;
   font-size: 19px;
   padding: 10px 0;
}

#header .upper-side .social-medias:hover {
   cursor: pointer;
}

.fa-facebook-f {
   color: #00307800;
   animation: blink-facebook 0.3s infinite;
}

.fa-twitter {
   color: #005c79;
   animation: blink-twitter 0.3s infinite;
}

.fa-instagram {
   color: #500078;
   animation: blink-instagram 0.3s infinite;
}

.fa-linkedin-in {
   color: #5252ff;
   animation: blink-linked-in 0.3s infinite;
}

.fa-pinterest-p {
   color: #fd002a;
   animation: blink-pinterest 0.3s infinite;
}

#header .middle-side {
   background-image: linear-gradient(45deg, #f1eeee, #ffffff);
   background-repeat: no-repeat;
   background-size: cover;
   height: 200px;
}

#header .middle-side .right-side {
   display: flex;
}

#header .middle-side .logo {
   width: 150px;
   height: 60px;
   margin: 60px 8%;
   transition: transform 0.4s;
}

#header .middle-side .logo img {
   width: 100%;
   height: 100%;
   cursor: pointer;
}

#header .middle-side .logo:hover {
   transform: scale(1.2);
}

#header .middle-side .account {
   display: flex;
   margin-top: 70px;
   height: 40px;
   gap: 13px;
}

#header .middle-side a {
   text-decoration: none;
   color: black;
}

#header .middle-side .account:hover {
   color: #186618;
   cursor: pointer;
}

#header .middle-side .account .login {
   margin-top: 6px;
   font-size: 16px;
   text-decoration: none;
   color: #186618;
   font-weight: 500;
}

#header .middle-side .account .image {
   width: 40px;
   height: 40px;
}

#header .middle-side .account .image img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   cursor: pointer;
}


#header .middle-side .items {
   display: flex;
   gap: 5%;
   margin-top: 22%;
   font-size: 20px;
}

#header .middle-side .items .icons {
   display: flex;
   margin-top: 15px;
   height: max-content;
}

#header .middle-side .items .icons:hover {
   cursor: pointer;
}

#header .middle-side .items .icons sup {
   background: #0ad50a;
   padding: 0px 5px;
   border-radius: 10px;
   font-size: 12px;
   top: -10px;
   right: 15px;
   font-weight: bolder;
}

#header .middle-side .items .icons a svg {
   cursor: pointer;
   color: black;
}

#header .middle-side .items .icons a:hover svg {
   color: #54b72b;
}

#header .middle-side .flags {
   padding: 10px;
}

#header .middle-side .flags .country-flag {
   display: flex;
   gap: 10px;
}

#header .middle-side .flags .country-flag span {
   margin-top: 2px;
   font-weight: 500;
}

#header .middle-side .flags .country-flag .turkey {
   margin-left: 2px;
}

#header .middle-side .flags .country-flag:hover {
   cursor: pointer;
}

#header .middle-side .flags .flag-item {
   padding: 0 10px;
   border-radius: inherit;
}

#header .middle-side .flags .flag-item:hover {
   background: #afafaf;
}

#header .middle-side .flags .image {
   width: 30px;
}

#header .middle-side .flags .image img {
   width: 100%;
   height: 100%;
}

#header .middle-side .flags .flag-header {
   padding: 0 10px;
   border-radius: 15px;
   background: #bbbbbb80;
   border: 1px solid #00000047;

}

#header .middle-side .flags .flag-content {
   height: 0;
   transition: height 0.5s;
   margin-top: 5px;
   border-radius: 15px;
   background: #bbbbbb80;
   border: 1px solid #00000047;
   padding: 4px 3px;
}

#header .middle-side .flags svg {
   position: relative;
   right: 5px;
   top: 4px;
   font-size: 13px;
}

#header .middle-side .search {
   position: relative;
   margin-top: 70px;
   height: 55px;
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
}

#header .middle-side .search button {
   position: absolute;
   top: 12px;
   right: 23px;
   color: #e3d5d5;
   border: 0;
   background: none;
}

#header .middle-side .search svg:hover {
   color: #38f938;
}

#header .middle-side .search .search-design1 {
   background-color: #4d4646;
   width: 50px;
   height: 50px;
   left: 11px;
   border-radius: inherit;
   position: absolute;
   bottom: 5px;
}

#header .middle-side .search .search-design2 {
   background-color: #4d4646;
   width: 50px;
   height: 50px;
   right: 12px;
   position: absolute;
}

#header .middle-side .search .search-design2:hover {
   cursor: pointer;
}

#header .middle-side .search form {
   border-radius: inherit;
}

#header .middle-side .search input {
   height: 50px;
   border-radius: inherit;
   box-shadow: none;
   padding-left: 65px;
   color: gray;
   font-style: italic;
   border-color: #c1c1c1;
}

#header .middle-side .search input:focus {
   border-color: #383838;
}


#header .middle-side .search input::placeholder {
   font-size: 15px;
   font-style: italic;
}

#header .down-side {
   background: #bbbbbb80;
   height: 90px;
   border-top: 1px solid #d9d9d9;
   padding-top: 20px;
}

#header .down-side .menu {
   position: relative;
   animation: text 0.4s;
   margin-top: 10px;
}

#header .down-side .menu ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   gap: 90px;
   padding: 0;
   margin-left: 50px;
}

#header .down-side .menu ul li {
   cursor: pointer;
}

#header .down-side .menu ul a {
   font-family: myFirstFont;
   font-size: 17px;
   text-decoration: none;
   letter-spacing: 2px;
   font-weight: bolder;
   color: black;
}

#header .down-side .menu ul li .horizontal-line {
   width: 0;
   height: 1px;
   border-bottom: 2px solid green;
   transition: width 0.3s;
}

#header .down-side .menu ul a:hover {
   color: green;
}

#header .down-side .menu ul a:hover + .horizontal-line {
   width: 100%;
}

#header .down-side .drop-down {
   width: 60px;
}

#header .down-side .drop-down.drop {
   width: 85px;
}

#header .down-side .drop-down-menu {
   position: relative;
   z-index: 1;
   height: 0;
   transition: height 0.3s ease-in-out;
   background: white;
   width: 215px;
}

#header .down-side .drop-down-menu li {
   display: none;
}

#header .down-side .drop-down-title {
   position: relative;
   padding-bottom: 32px;
}

#header .down-side .drop-down svg {
   position: absolute;
   top: 4px;
   right: -22px;
   font-size: 13px;
   padding-bottom: 32px;
   padding-left: 10px;
}

#header .down-side .drop-down-title:hover {
   cursor: pointer;
}

#header .down-side .drop-down-title:hover+.drop-down-menu {
   height: 119px;
}

#header .down-side .drop-down-title:hover+.drop-down-menu li {
   display: block;
}

#header .down-side .drop-down-menu:hover {
   height: 119px;
}

#header .down-side .drop-down-menu:hover li {
   display: block;
}

#header .down-side .drop-down-menu li {
   padding: 7px 20px;
   width: 215px
}

#header .down-side .drop-down-menu li:hover {
   background-image: linear-gradient(45deg, #d3d3d3, #dbdada);
}

#header .down-side .info {
   position: relative;
   display: flex;
   gap: 15%;
   margin-left: 60px;
}

#header .down-side .info .title span:nth-child(1) {
   font-style: italic;
   font-weight: bolder;
}

#header .down-side .info a {
   text-decoration: none;
   color: black;
}

#header .down-side .info .content {
   display: flex;
   gap: 15px;
}

#header .down-side .info .content:hover {
   color: green;
   cursor: pointer;
}

#header .down-side .info .content img {
   transition: transform 0.4s;
}

#header .down-side .info .content:hover img {
   transform: scale(1.5);
}

#header .down-side .info .phone-number svg {
   margin-top: 15px;
   font-size: 20px;
}

#header .down-side .info .image {
   width: 25px;
   height: 25px;
}

#header .down-side .info .image img {
   width: 100%;
   height: 100%;
   margin-top: 15px;
}

#banner .banner {
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 340px;
   padding-top: 25px;
   filter: brightness(0.9);
}

#banner .banner h1 {
   text-align: center;
   font-size: 50px;
   font-style: italic;
   font-family: mySecondFont;
   color: rgb(0, 194, 0);
   margin-top: 20px;
}

#banner .banner p {
   text-align: center;
   color: white;
   font-size: 29px;
   width: 50%;
   margin: 35px auto;
   line-height: 50px;
   font-style: italic;
   animation: blink 0.4s infinite;
}

#blog .breadcrumb-sortby nav {
   width: 410px;
}

#blog .breadcrumb .breadcrumb-items {
   display: flex;
   background: #d4fbd4;
   padding: 5px 20px;
   border-radius: 20px;
   border: 1px solid #1f9b4b;
}

#blog .breadcrumb .breadcrumb-items:hover {
   cursor: pointer;
}

#blog .breadcrumb .breadcrumb-items li a {
   color: black;
   text-decoration: none;
   font-size: 18px;
   font-style: italic;
}

#blog .breadcrumb .breadcrumb-items li a:hover {
   color: green !important;
}

#blog .breadcrumb .breadcrumb-items .active a {
   color: green !important;
   font-weight: 700;
}

#blog .sort-by {
   text-align: center;
   margin-left: 40%;
}

#blog .sort-by span {
   font-size: 21px;
   font-weight: 500;
   margin-right: 5px;
}

#blog .sort-by select {
   height: 40px;
   border-radius: 10px;
   font-weight: 500;
   background: #d4fbd4;
   padding-right: 25px;
   padding-left: 5px;
   border-color: green;
   outline: none;
   border-color: #1f9b4b;
}

#blog .sort-by select:hover {
   cursor: pointer;
}

#blog .left-side .blogs {
   display: flex;
   flex-wrap: wrap;
   margin-left: 65px;
}

#blog .left-side h1 {
   border: 1px solid green;
   padding: 5px 5px;
   border-radius: 30px;
   background-image: linear-gradient(45deg, #7ccd91, #e7e5e5);
   font-size: 30px;
   text-align: center;
   width: 60%;
   margin: 50px auto;
   font-family: myFirstFont;
   font-weight: bolder;
}

#blog .left-side .blog {
   padding-right: 20px;
}

#blog .left-side .blog .blog-image {
   overflow: hidden;
   border-radius: 30px;
   height: 590px;
   margin-top: 30px;
}

#blog .left-side .blog .blog-image img {
   width: 100%;
   height: 100%;
   border-radius: inherit;
   transition: transform 0.4s;
}

#blog .left-side .blog .blog-image:hover img {
   cursor: pointer;
   transform: scale(1.2);
}

#blog .left-side .blog .blog-image:hover+.blog-content .text {
   color: green;
}

#blog .left-side .blog .blog-image:hover+.blog-content p {
   color: green;
}

#blog .left-side .blog .blog-content {
   margin-top: 10px;
}

#blog .left-side .blog .blog-content .blog-author-date {
   display: flex;
   justify-content: space-between;
}

#blog .left-side .blog .blog-content .blog-author-date span {
   font-size: 17px;
   color: black;
   font-weight: 600;
}

#blog .left-side .blog .blog-content .blog-author-date svg {
   margin-right: 10px;
}

#blog .left-side .blog .blog-content .blog-name {
   margin: 15px 0;
}

#blog .left-side .blog .blog-content .blog-name span {
   font-size: 30px;
   font-weight: bolder;
}

#blog .left-side .blog .blog-content .blog-description p {
   font-size: 20px;
   font-style: italic;
   color: #464242;
}

#blog .pagination {
   margin-left: 35%;
}

#blog .pagination li {
   margin-right: 10px;
}

#blog .pagination li a {
   box-shadow: none;
   border-radius: 25px;
   color: black;
   border-color: green;
   background: #efffef;
}

#blog .pagination li a:hover {
   background: green;
   color: white;
}

#blog .right-side .search {
   padding: 15px;
   border-radius: 18px;
   border: 2px solid black;
   background: #e1e1e1;
}

#blog .right-side .search h3 {
   border-bottom: 1px solid green;
   padding-bottom: 10px;
   margin-bottom: 20px;
   font-size: 23px;
}

#blog .right-side .search form {
   text-align: center;
}

#blog .right-side .search input {
   outline: none;
   width: 100%;
   height: 40px;
   border-radius: 15px;
   padding-left: 15px;
   border: none;
   border: 1px solid #878787;
   font-size: 16px;
   font-style: italic;
   color: gray;
   letter-spacing: 1px;
}

#blog .right-side .search input:focus {
   border: 2px solid #166824;
}

#blog .right-side .search button {
   width: 130px;
   border-radius: 30px;
   font-size: 17px;
   font-family: 'myFirstFont';
   background: #008100;
}

#blog .right-side .search button:hover {
   background-color: #106a10;
}

#blog .right-side .blog-items {
   padding: 15px;
   border-radius: 18px;
   border: 1px solid black;
   background: #32cd62;
   margin-top: 30px;
}

#blog .right-side .blog-items .blog-item {
   display: flex;
   gap: 3%;
   margin-bottom: 15px;
   border-bottom: 1px solid green;
   padding-bottom: 20px;
}

#blog .right-side .blog-items .blog-item:hover {
   cursor: pointer;
}

#blog .right-side .blog-items .blog-item:hover .blog-description {
   color: white;
}

#blog .right-side .blog-items .blog-item:hover .blog-image img {
   transform: scale(1.2);
}

#blog .right-side .blog-items .blog-item .blog-image {
   border-radius: 10px;
   width: 100px;
   height: 90px;
   overflow: hidden;
}

#blog .right-side .blog-items .blog-item .blog-image img {
   width: 100%;
   height: 100%;
   border-radius: inherit;
   transition: transform 0.4s;
   object-fit: cover;
}

#blog .right-side .blog-items .blog-item .blog-description {
   padding-top: 15px;
   margin-left: 10px;
}

#blog .right-side .blog-items .blog-item .blog-description h3 {
   font-size: 20px;
}

#blog .right-side .blog-items .blog-item .blog-description span {
   font-size: 15px;
}

#blog .right-side .blog-items .product-categories {
   list-style-type: none;
   padding: 0;
   line-height: 35px;
}

#blog .right-side .blog-items .product-categories li {
   font-size: 20px;
   font-family: cursive;
   padding: 5px 0;
   border-bottom: 1px solid #007800;
}

#blog .right-side .blog-items .product-categories li:hover {
   cursor: pointer;
   color: white;
}

#blog .right-side .blog-items .product-categories li span {
   float: right;
   font-weight: 600;
   font-size: 16px;
}

#blog .right-side .blog-items h5 {
   font-size: 30px;
   font-weight: 700;
   border-bottom: 1px solid #007800;
   padding-bottom: 15px;
   margin: 0;
   text-align: center;

}

#blog .right-side .blog-items .tags {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   margin-top: 20px;
}

#blog .right-side .blog-items .tags span {
   background: #d4ffd5;
   padding: 5px 5px;
   border-radius: 10px;
   font-size: 19px;
}


#blog .right-side .blog-items .tags span:hover {
   cursor: pointer;
   color: white;
   background: black;
}

#blog .right-side .blog-items a {
   background: white;
   padding: 10px 10px;
   border-radius: 20px;
   margin-right: 15px;
}

#blog .right-side .blog-items a svg {
   width: 20px;
   height: 20px;
}

#blog .right-side .blog-items a:hover {
   background: black;
}

#blog .right-side .social-media {
   text-align: center;
   padding: 20px 5px;
}

#blog .right-side .social-media .social-medias {
   padding-top: 25px;
}

#blog .right-side .banner {
   height: 400px;
   margin-top: 40px;
   border-radius: 25px;
   overflow: hidden;
   cursor: pointer;
}

#blog .right-side .banner img {
   width: 100%;
   height: 100%;
   border-radius: inherit;
   transition: transform 0.4s;
}

#blog .right-side .banner img:hover {
   transform: scale(1.2);
}

#footer .bg-image {
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
}

#footer .upper-side {
   border-bottom: 1px solid #403f3f;
   padding: 90px 0;
}

#footer .upper-side .footer-info {
   display: flex;
   gap: 3%;
}

#footer .upper-side .footer-info .horizontal-line {
   border-right: 1px solid #403f3f;
   padding-right: 30px;
}


#footer .upper-side .left-side {
   width: 23%;
   margin-left: 5%;
}

#footer .upper-side .left-side .logo img {
   transition: transform 0.4s;
}

#footer .upper-side .left-side .logo img:hover {
   cursor: pointer;
   transform: scale(1.2);
}

#footer .upper-side .left-side .subscribe .input {
   display: flex;
   border-radius: 10px;
   width: 375px;
   gap: 5px;
}

#footer .upper-side .left-side .subscribe .input input {
   color: gray;
   font-style: italic;
   border-radius: inherit;
}

#footer .upper-side .left-side .subscribe .input input:focus {
   box-shadow: none;
}

#footer .upper-side .left-side .subscribe-btn {
   border-radius: 10px;
}

#footer .upper-side .left-side .subscribe-btn {
   background: #20bf20;
   border-radius: inherit;
}

#footer .upper-side .left-side .subscribe-btn:hover {
   background: green;
}

#footer .upper-side .left-side .paragraph p {
   color: #6e6e6e;
   font-size: 1rem;
   font-weight: 400;
   line-height: 30px;
}

#footer .upper-side .middle-side {
   padding-top: 3%;
}

#footer .upper-side .middle-side .list {
   display: flex;
}

#footer .upper-side .middle-side .list .list-group {
   padding: 0 50px;
   line-height: 30px;
}

#footer .upper-side .middle-side .list-group h4 {
   color: white;
   text-decoration: underline;
   margin-right: 70px;
   font-weight: 700;
}

#footer .upper-side .middle-side .list-group ul {
   list-style-type: none;
   padding: 0;
}

#footer .upper-side .middle-side .list-group ul li {
   margin-top: 10px;
}

#footer .upper-side .middle-side .list-group ul li:hover a {
   color: silver;
}

#footer .upper-side .middle-side .list-group ul li a {
   text-decoration: none;
   color: #6e6e6e;
   font-size: 1rem;
   font-weight: 400;
}

#footer .upper-side .middle-side .list-group ul li a span {
   color: white;
}

#footer .upper-side .right-side {
   padding-top: 6%;
}

#footer .upper-side .right-side .social-medias:hover {
   cursor: pointer;
}

#footer .upper-side .right-side .social-medias a {
   width: 45px;
   height: 45px;
   background: white;
   padding: 10px 13px;
   border-radius: 50%;
   margin-right: 20px;
}

#footer .upper-side .right-side .social-medias a:hover {
   background: black;
   border: 1px solid #81c408;
}

#footer .upper-side .right-side .social-medias a svg {
   color: black;
   width: 20px;
   height: 20px;
}

#footer .upper-side .right-side .social-medias a:hover svg {
   color: white;
}

#footer .upper-side .right-side .social-medias a .fa-youtube {
   animation: blink-youtube 0.4s infinite;
}

#footer .upper-side .right-side .social-medias a .fa-google-plus-g {
   animation: blink-google 0.4s infinite;
}

#footer .down-side .left-side p {
   color: #6e6e6e;
}

#footer .down-side .left-side p span {
   color: #5e9d03;
}

#footer .down-side {
   display: flex;
   justify-content: space-around;
   margin-top: 15px;
}

#footer .down-side .right-side ul {
   display: flex;
   list-style-type: none
}

#footer .down-side .right-side ul li {
   border-right: 1px solid #6e6e6e;
   padding: 0 25px
}

#footer .down-side .right-side ul li a {
   text-decoration: none;
   color: #9f9f9f;
   font-size: 15px;
   font-weight: 500;
}

#footer .down-side .right-side ul li a span {
   color: #62a403;
}

#footer .bg-image .up-arrow {
   width: 70px;
   height: 70px;
   background-color: black;
   position: fixed;
   right: 70px;
   bottom: 35px;
   z-index: 123;
   border-radius: 50%;
   cursor: pointer;
   padding: 20px 25px;
}

#footer .bg-image .up-arrow:hover {
   border: 1px solid lime;
}

#footer .bg-image .up-arrow svg {
   font-size: 25px;
   color: lime;
   animation: blink 0.4s infinite;
}